/* header */

a img {
  border: 0;
}

.header {
  margin: 0 0 30px 0;
  background: #E5ECFB;
  background: -webkit-gradient(linear, left top, left bottom, from(#E8EEFC), to(#D7DEEA));
  background: -moz-linear-gradient(top, #E8EEFC, #D7DEEA);
  background: linear-gradient(top, #E8EEFC, #D7DEEA);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8EEFC', endColorstr='#D7DEEA');
  border-bottom: 1px solid #AAA;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.6), 0px 2px 2px rgba(0, 0, 0, 0.15);
  min-height: 50px;
}

.header-inner {
  max-width: 605px;
  margin: 0 auto;
}

.nav, .nav-play {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
  }
}

.nav {
  padding: 15px 6px 15px 6px;
}

.header {
  .nav {
    padding: 15px 0 15px 155px;
  }
  .nav-play {
    padding: 15px 0 15px 10px;
  }
}

.nav .button {
  position: relative;
  padding: 5px 10px;
  margin: 0 -1px 0 0;
  border-radius: 0;
  img {
    position: absolute;
    top: -8px;
    left: -150px;
  }
  &.cur {
    color: #777777;
    background: #f8f8f8;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    &:hover {
      color: #777777;
      background: #f8f8f8;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      border: solid 1px #888888;
    }
  }
  &:hover {
    z-index: 10;
  }
  &.nav-first {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &.nav-last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.button {
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px white;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px white;
  white-space: nowrap;
  /* default colors */
  color: #222222;
  border: solid 1px #AAAAAA;
  background: #e3e3e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e3e3e3));
  background: -moz-linear-gradient(top, #f6f6f6, #e3e3e3);
  background: linear-gradient(top, #f6f6f6, #e3e3e3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3');
  &:hover {
    background: #cfcfcf;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#cfcfcf));
    background: -moz-linear-gradient(top, #f2f2f2, #cfcfcf);
    background: linear-gradient(top, #f2f2f2, #cfcfcf);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#cfcfcf');
    border-color: #606060;
  }
  &:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#f2f2f2));
    background: -moz-linear-gradient(top, #cfcfcf, #f2f2f2);
    background: linear-gradient(top, #cfcfcf, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#f2f2f2');
  }
}

.greenbutton {
  background: #ebf3e8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7faf5), to(#d2e2ca));
  background: -moz-linear-gradient(top, #f7faf5, #d2e2ca);
  background: linear-gradient(top, #f7faf5, #d2e2ca);
  border-color: #abc99c;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3');
  &:hover {
    background: #dbe8d4;
    background: -webkit-gradient(linear, left top, left bottom, from(#eef4eb), to(#bed6b3));
    background: -moz-linear-gradient(top, #eef4eb, #bed6b3);
    background: linear-gradient(top, #eef4eb, #bed6b3);
    border-color: #5e8849;
  }
  &:active {
    background: #bed6b3;
    background: -webkit-gradient(linear, left top, left bottom, from(#bed6b3), to(#cfe1c7));
    background: -moz-linear-gradient(top, #bed6b3, #cfe1c7);
    background: linear-gradient(top, #bed6b3, #cfe1c7);
    border-color: #5e8849;
  }
}