// Mix-ins
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
// Colours
$grey-1: #212121;
$grey-3: #565656;
$grey-4: #F2F2F2;
$blue: #5AB1D6;
$light-blue: #D3E4EA;
$red: #CC6666;
$light-red: #DDB1B1;
$light-green: #95D66E;

// Sizes
@function Rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
$boxHeight: Rem(28px);
$fontSize-xs: Rem(12px);
$fontSize-s: Rem(14px);
$fontSize: Rem(16px);
$fontSize-l: Rem(18px);